body {
    font-family: Arial, sans-serif;
    color: #ffffff; /* Text color */
    margin: 0; /* Remove default margin */
    padding: 0;
    background-color: #121212; /* Dark background color */
}

header {
    background-color: #343a40; /* Darker background color for header */
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0; /* Position header at the top */
}

nav {
    text-align: right;
    margin-right: 20px; /* Adjust the margin to move the navigation to the right */
}

nav a {
    color: #f0eaea;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 120px 20px 20px;
    border-radius: 0 0 10px 10px; /* Apply border-radius to the bottom left and right corners */
    background-color: #121212; /* Add background color to match the body background */
}


.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center center;
    margin: 0 auto 20px;
    display: block;
}

.about-me {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff; /* Text color */
    line-height: 1.6;
}

#date-time {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff; /* Text color */
}

@media (max-width: 768px) {
    nav {
        text-align: center;
        margin-right: 0; /* Remove the right margin on smaller screens */
    }

    nav a {
        display: block;
        padding: 10px 0;
    }
}
